<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footerScript">
<script type="text/javascript" th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/material.min.js}"></script>
<script type="text/javascript" th:src="@{/js/perfect-scrollbar.jquery.min.js}"></script>
<!-- Forms Validations Plugin -->
<script th:src="@{/js/jquery.validate.min.js}"></script>
<!--  Plugin for Date Time Picker and Full Calendar Plugin-->
<script th:src="@{/js/moment.min.js}"></script>
<!--  Charts Plugin -->
<script th:src="@{/js/chartist.min.js}"></script>
<!--  Plugin for the Wizard -->
<script th:src="@{/js/jquery.bootstrap-wizard.js}"></script>
<!--  Notifications Plugin    -->
<script th:src="@{/js/bootstrap-notify.js}"></script>
<!--   Sharrre Library    -->
<script th:src="@{/js/jquery.sharrre.js}"></script>
<!-- DateTimePicker Plugin -->
<script th:src="@{/js/bootstrap-datetimepicker.js}"></script>
<!-- Vector Map plugin -->
<script th:src="@{/js/jquery-jvectormap.js}"></script>
<!-- Sliders Plugin -->
<script th:src="@{/js/nouislider.min.js}"></script>
<!--  Google Maps Plugin    -->
<!--<script src="https://maps.googleapis.com/maps/api/js"></script>-->
<!-- Select Plugin -->
<script th:src="@{/js/jquery.select-bootstrap.js}"></script>
<!--  DataTables.net Plugin    -->
<script th:src="@{/js/jquery.datatables.js}"></script>
<!-- Sweet Alert 2 plugin -->
<script th:src="@{/js/sweetalert2.js}"></script>
<!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script th:src="@{/js/jasny-bootstrap.min.js}"></script>
<!--  Full Calendar Plugin    -->
<script th:src="@{/js/fullcalendar.min.js}"></script>
<!-- TagsInput Plugin -->
<script th:src="@{/js/jquery.tagsinput.js}"></script>
<!-- Material Dashboard javascript methods -->
<script th:src="@{/js/material-dashboard.js}"></script>
<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<script th:src="@{/js/demo.js}"></script>
</div>
</html>