<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="sidebar" class="sidebar" data-active-color="rose" data-background-color="black"  th:data-image="@{/img/sidebar-1.jpg}">
    <div class="logo">
        <a href="#" class="simple-text">
            E-BUY
        </a>
    </div>
    <div class="logo logo-mini">
        <a href="#" class="simple-text">
            EB
        </a>
    </div>
    <div class="sidebar-wrapper">
        <div class="user">
            <div class="photo">
                <img th:src="@{/img/faces/avatar.jpg}" />
            </div>
            <div class="info">
                <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                 Abdur Rahim Nishad
                    <b class="caret"></b>
                </a>
                <div class="collapse" id="collapseExample">
                    <ul class="nav">
                        <li>
                            <a href="#">My Profile</a>
                        </li>
                        <li>
                            <a href="#">Edit Profile</a>
                        </li>
                        <li>
                            <a href="#">Settings</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav">
            <li th:classappend="${#request.getRequestURI() == '/' ? 'active' : ''}">
                <a th:href="@{/}">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li th:classappend="${#request.getRequestURI() == '/student/' ? 'active' : ''}">
                <a th:href="@{/student/}">
                    <i class="material-icons">list</i>
                    <p>Student List</p>
                </a>
            </li>
            <li>
                <a th:href="@{/department/}">
                    <i class="material-icons">widgets</i>
                    <p>Add Department</p>
                </a>
            </li>
        </ul>
    </div>
</div>

</html>